*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#ff9ec7;
    
}
.logo{
    text-align: center;
}
.logo img{
    max-width: 100%;
}
.contenedor{
    max-width: 1280px;
    margin:auto;
    position: relative;
}
.botonera{
    
    background-color: #ff9ec7;
    padding:5px;
    border:1px solid #000;
    border-radius: 5px;
	position:sticky;
    top:0px;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 1;
}
.botonera ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.botonera li{
    flex-grow:1;
    flex-basis: 150px;
}
.botonera a{
    display: block;
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    text-align: center;
	font-weight:900;
    font-size: 27px;
    font-family: 'Pacifico', sans-serif;
    
}
.botonera a:hover{
    color:#fff;
    font-size:30px;
}
.tigre{
    position: relative;
    top:30px
}
.bordados{
    background-color: #074cb4;
    border: 1px solid #000000;
    border-radius:10px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
}
.menubordados{
    float: left;
    padding-left: 20px;
    color: #fff;
    list-style-type:none;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    width: 360px;
}
.menubordados h1{
    padding: 10px;
    padding-top: 20px;
    font-size: 45px;
}
.menubordados a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.menubordados li{
    font-size: 25px;
    padding-bottom: 8px;
}
.bordados img{
    flex-grow:1;
    flex-basis: 150px;
    margin: 20px;
}

.pulpo{
    position: relative;
    top:43px;
    left: 890px;
}
.tejidos{
    background-color: #074cb4;
    border: 1px solid #000000;
    border-radius:10px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
}
.tejidos img{
    flex-grow:1;
    flex-basis: 150px;
    margin: 20px;
}
.menutejidos{
    float: right;
    padding-left: 20px;
    color: #fff;
    list-style-type:none;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    width: 360px;
}
.menutejidos h1{
    padding: 10px;
    padding-top: 20px;
    font-size: 45px;
}
.menutejidos a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.menutejidos li{
    font-size: 25px;
    padding-bottom: 8px;
}
.mono{
    position: relative;
    top:43px;
}
.fibro{
    background-color: #074cb4;
    border: 1px solid #000000;
    border-radius:10px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
}
.fibro img{
    flex-grow:1;
    flex-basis: 150px;
    margin: 20px;
}
.menufibro{
    float: right;
    padding-left: 20px;
    color: #fff;
    list-style-type:none;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    width: 360px;
}
.menufibro h1{
    padding: 10px;
    padding-top: 20px;
    font-size: 45px;
}
.menufibro a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.menufibro li{
    font-size: 25px;
    padding-bottom: 8px;
}
.pie{
    margin-top: 140px;
    background-color: #827f81;
    height:890px;
	margin-left:auto;
	margin-right: auto;
}
.contacto{
    margin-bottom: 80px;
    overflow: auto;
    height: 360px;
}
.contacto li{
    list-style-type:none;
	float: left;
    padding: 56px
}
.contacto h2{
    font-size: 30px;
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    padding-top: 250px;
    color:#fff;
}
.whatsapp{
	display:block;
	background-image: url(imagenes/redes.png);
	width: 250px;
	height: 240px;
    background-position:0px 240px;
    text-decoration: none;
}
.facebook{
	display:block;
	background-image: url(imagenes/redes.png);
	width: 250px;
	height: 240px;
    background-position:-250px 240px;
    text-decoration: none;
}
.twiter{
	display:block;
	background-image: url(imagenes/redes.png);
	width: 250px;
	height: 240px;
    background-position:-500px 240px;
    text-decoration: none;
}
.email{
	display:block;
	background-image: url(imagenes/redes.png);
	width: 250px;
    height: 240px;
    background-position:-750px 240px;
    text-decoration: none;
}
.formulario{
    overflow:auto;
}
.formulario input{
    text-align: left;
    font-size: 20px;
    font-family: 'Pacifico', sans-serif;
}
.nombre{
float: left;
padding: 15px 80px;
margin-left: 245px;
}
.mail{
float: right;
margin-right: 296px;
padding: 15px 130px;
}
.coment{
float: left;
margin-top:50px;
margin-left: 245px;
text-align: left;
font-size: 20px;
font-family: 'Pacifico', sans-serif;
}
.enviar{
float: right;
margin-top: 249px;
padding: 10px 50px;
margin-right: 94px;

font-size: 35px;
}